body{
    margin: 0;
    padding: 0
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin: 0;
    padding: 0
}

.left, .right{
    display: flex;
    align-items: flex-start;
    padding: 0;
    margin: 8px;
    gap: 8px
}

h1{
    padding: 0;
    margin: 0
}